<module name="sandesha2" class="org.apache.sandesha2.SandeshaModule">

    <Description>
        This module implements WS-ReliableMessaging for Axis2. This implements both the WSRM submitted spec and the new spec being developed under the OASIS WSRX group.
    </Description>
    
    <InFlow>
        <handler name="SandeshaGlobalInHandler" class="org.apache.sandesha2.handlers.SandeshaGlobalInHandler">
            <!-- Global In handler should come before instance dispatching -->
            <order phase="Dispatch" before="InstanceDispatcher" />
        </handler> 
        <handler name="SandeshaInHandler" class="org.apache.sandesha2.handlers.SandeshaInHandler">
            <order phase="RMPhase"/>
        </handler>
    </InFlow>

    <OutFlow>        
        <handler name="SandeshaOutHandler" class="org.apache.sandesha2.handlers.SandeshaOutHandler">
            <order phase="RMPhase"/>
        </handler>   
    </OutFlow>
    
    <InFaultFlow>        
        <handler name="SandeshaGlobalInHandler" class="org.apache.sandesha2.handlers.SandeshaGlobalInHandler">
            <!-- Global In handler should come before instance dispatching -->
            <order phase="Dispatch" before="InstanceDispatcher" />
        </handler> 
        <handler name="SandeshaInHandler" class="org.apache.sandesha2.handlers.SandeshaInHandler">
            <order phase="RMPhase"/>
        </handler>
    </InFaultFlow>
    
    <OutFaultFlow>        
        <handler name="SandeshaOutHandler" class="org.apache.sandesha2.handlers.SandeshaOutHandler">
            <order phase="RMPhase"/>
        </handler>   
    </OutFaultFlow>

    <operation name="RMInOnlyOperation" mep="http://www.w3.org/2004/08/wsdl/in-only">
        <messageReceiver class="org.apache.sandesha2.msgreceivers.RMMessageReceiver"/>
        
        <!-- namespaces for the 2005-02 spec -->
        
        <actionMapping>http://schemas.xmlsoap.org/ws/2005/02/rm/TerminateSequence</actionMapping>
        <actionMapping>http://schemas.xmlsoap.org/ws/2005/02/rm/SequenceAcknowledgement</actionMapping>
        <actionMapping>http://schemas.xmlsoap.org/ws/2005/02/rm/CreateSequenceResponse</actionMapping>
        <actionMapping>http://schemas.xmlsoap.org/ws/2005/02/rm/AckRequested</actionMapping>
        <actionMapping>http://schemas.xmlsoap.org/ws/2005/02/rm/LastMessage</actionMapping>

        <!-- namespaces for the 2006-08 spec -->
        
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/SequenceAcknowledgement</actionMapping>
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/CreateSequenceResponse</actionMapping>
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/AckRequested</actionMapping>
     </operation>
 
     <operation name="RMInOutOperation" mep="http://www.w3.org/2004/08/wsdl/in-out">
        <messageReceiver class="org.apache.sandesha2.msgreceivers.RMMessageReceiver"/>
        
        <!-- namespaces for the 2005-02 spec -->
        <actionMapping>http://schemas.xmlsoap.org/ws/2005/02/rm/CreateSequence</actionMapping>

        <!-- namespaces for the 2006-08 spec -->
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/CreateSequence</actionMapping>
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/TerminateSequence</actionMapping>
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/CloseSequence</actionMapping>
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/TerminateSequenceResponse</actionMapping>
        <actionMapping>http://docs.oasis-open.org/ws-rx/wsrm/200608/CloseSequenceResponse</actionMapping>
        <actionMapping>http://docs.oasisopen.org/ws-rx/wsrm/200608/MakeConnection</actionMapping>
    </operation>

   <!-- Database connection parameters -->
   <parameter name="sandesha2.db.conn.id" locked="false">jdbc:derby:SANDESHA2DB;create=true</parameter>
   <parameter name="sandesha2.db.driver" locked="false">org.apache.derby.jdbc.EmbeddedDriver</parameter>
   <parameter name="sandesha2.db.sql.dialect" locked="false">org.hibernate.dialect.DerbyDialect</parameter>
   <parameter name="sandesha2.db.username" locked="false"></parameter>
   <parameter name="sandesha2.db.password" locked="false"></parameter>  
   <parameter name="sandesha2.db.create.mode" locked="false">update</parameter> 

   <supported-policy-namespaces namespaces="http://ws.apache.org/sandesha2/policy" />

	<wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
			xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
			xmlns:wsrm="http://ws.apache.org/sandesha2/policy" wsu:Id="RMPolicy">
		<wsrm:RMAssertion>
			<wsp:Policy>
				<wsrm:AcknowledgementInterval>3000</wsrm:AcknowledgementInterval>
	
				<wsrm:RetransmissionInterval>6000</wsrm:RetransmissionInterval>
	      
	      <!-- '-1' conveys that there is no limit to the max. number of retransmissions.-->
				<wsrm:MaximumRetransmissionCount>10</wsrm:MaximumRetransmissionCount>
	
				<wsrm:ExponentialBackoff>false</wsrm:ExponentialBackoff>
	
				<wsrm:InactivityTimeout>60</wsrm:InactivityTimeout>
	
				<wsrm:InactivityTimeoutMeasure>seconds</wsrm:InactivityTimeoutMeasure>
	
				<wsrm:InvokeInOrder>true</wsrm:InvokeInOrder>
	      
	      <!-- These will not be overriden by service level policies -->
				<wsrm:MessageTypesToDrop>none</wsrm:MessageTypesToDrop>  
	                              
	      <!-- This will not be overriden by service level policies -->
				<wsrm:StorageManagers>
	
					<wsrm:InMemoryStorageManager>
					  org.apache.sandesha2.storage.inmemory.InMemoryStorageManager
					</wsrm:InMemoryStorageManager>
	
					<wsrm:PermanentStorageManager>
					  org.apache.sandesha2.storage.inmemory.InMemoryStorageManager
					</wsrm:PermanentStorageManager>
	
				</wsrm:StorageManagers>
	      
	      <!-- This will not be overriden by service level policies -->
				<wsrm:SecurityManager>org.apache.sandesha2.security.rampart.RampartBasedSecurityManager</wsrm:SecurityManager>
			</wsp:Policy>
		</wsrm:RMAssertion>
	</wsp:Policy>
</module>
