/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 * 
 *   http://www.apache.org/licenses/LICENSE-2.0
 * 
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

@import url(http://fonts.googleapis.com/css?family=Buenard);
body, p, div, ul, li, a, tr, td,th{
    font-family: 'Buenard', serif;
    font-size:15px;
}
body{
    border-top:solid 5px #000;
    padding-bottom:0px;
    background:transparent url(../images/page-back.png) no-repeat right 5px;
}
h2{
    background-color:transparent;
    border:none;
    font-size:30px;
    color:#171515;
    /*text-shadow:-1px -1px 2px #ADA9A9;*/
    margin:3px 0px;    
}

h3{
    background-color:transparent;
    border:none;
    font-size:25px;
    color:#171515;
    /*text-shadow:-1px -1px 2px #ADA9A9;*/
    margin:3px 0px;
}

#bannerLeft{
    text-align:right;
    position:absolute;
    right:270px;
    top:30px;
    color:#4c4c4c;
}

#banner{
    height:90px;
    background:transparent url(../images/synapse-logo.png) no-repeat left top;
}
#footer{
    background:transparent url(../images/footer-back.png) repeat-x left top;
    color:#fff;
    font-size:11px;
    height:80px;
    padding:10px;
    text-align:center;
    margin:0px 0px !important;
    border-top:solid 5px #000;
}

#navcolumn strong{
    color:#ff6800;
    font-size:13px;
}
#navcolumn h5{
    color:#2b2b2b;
    font-weight:bold;
    font-size:20px;
}
#navcolumn li{
    margin:10px 0px;
}
#navcolumn li a{
    font-size:13px;    
}

dl {
    padding: 4px 4px 4px 6px;
    border: 1px solid #aaa;
    background-color: #ffc;
    border-radius: 10px;
}

tt {
    padding: 0 3px 2px;
    font-family: Monaco,Andale Mono,Courier New,monospace;
    font-size: .9em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background-color: transparent;
    color: #900;
    padding: 1px 3px;
}

table.bodyTable {
    border-left: solid 1px #468aa6;
    border-top: solid 1px #468aa6;
    border-collapse: collapse;
}

table.bodyTable th {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#56aed2), to(#417f98));
    background-image: -moz-linear-gradient(top, #56aed2 0%, #417f98 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColor = 0, endColorStr = #417f98);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(gradientType = 0, startColor = 0, endColoStr = #417f98);
    color: #fff;
    font-size: 15px;
    text-align: left;
    padding: 3px;

    border-right: solid 1px #468aa6;
    border-bottom: solid 1px #468aa6;
}

table.bodyTable td {
    border-right: solid 1px #468aa6;
    border-bottom: solid 1px #468aa6;
    margin: 0px;
    padding: 3px;
}
table.bodyTable tr:nth-child(even) {background: #ccdde1}
table.bodyTable tr:nth-child(odd) {background: #FFF}


/* Pre defined styles */

.consoleOutput {
    overflow: auto;
    white-space: pre;
    border: 1px dashed #3c78b5;
    font-size: 12px;
    font-family: Courier;
    margin: 10px;
    line-height: 13px;
    background-color: #f0f0f0;
    border-bottom: 1px dashed #3c78b5;
    padding: 3px;
    border-style: solid;
}

.xmlConf {
    overflow: auto;
    white-space: pre;
    border: 1px dashed #3c78b5;
    font-size: 12px;
    font-family: Courier;
    margin: 10px;
    line-height: 25px;
    background-color: #f0f0f0;
    border-bottom: 1px dashed #3c78b5;
    padding: 3px;
    border-style: solid;
    border-radius: 5px;
}

.command {
    overflow: auto;
    border: 1px dashed #3c78b5;
    text-align: left;
    background-color: #f0f0f0;
    padding: 3px;
    font-size: 12px;
    font-family: Courier;
    margin: 10px;
    line-height: 13px;
    border-radius: 5px;
}
.xmlConf a {
    font-size:13px;
    line-height:20px;
    font-family: Courier;
}
