<module name="synapse" class="org.apache.synapse.core.axis2.SynapseModule">

    <Description>
        This module dynamically set the Synapse dispatcher. Synapse service and
        SynapseMessageReceiver will be initialize by SynapseModule
    </Description>

    <inflow>
        <handler name="SynapseDispatcher"
                 class="org.apache.synapse.core.axis2.SynapseDispatcher">
            <order after="SOAPMessageBodyBasedDispatcher" phase="Dispatch"/>
        </handler>
        <handler name="SynapseMustUnderstandHandler"
                 class="org.apache.synapse.core.axis2.SynapseMustUnderstandHandler">
            <order phase="MUPhase"/>
        </handler>
    </inflow>

</module>
